<button
  class="language-menu-trigger"
  type="button"
  aria-label="Open language selector"
  [attr.aria-expanded]="menuOpen"
  (click)="toggleMenu()"
>
  <span class="material-icons" aria-hidden="true">language</span>
</button>

<mat-button-toggle-group
  class="language-switcher"
  [class.menu-open]="menuOpen"
  [value]="currentLang"
  appearance="standard"
  aria-label="Language selector"
  hideSingleSelectionIndicator
  name="language"
>
  @for (language of languages; track language) {
    <mat-button-toggle
      [value]="language"
      [aria-label]="labelFor(language)"
      (click)="useLanguage(language)"
    >
      <span class="language-option">
        <img class="language-flag" [src]="flagFor(language)" alt="" aria-hidden="true" />
        <span>{{ labelFor(language) }}</span>
      </span>
    </mat-button-toggle>
  }
</mat-button-toggle-group>
