<mat-button-toggle-group
  class="language-switcher"
  [value]="currentLang"
  appearance="standard"
  aria-label="Language selector"
  hideSingleSelectionIndicator
  name="language"
>
  @for (language of languages; track language) {
    <mat-button-toggle
      [value]="language"
      [aria-label]="labelFor(language)"
      (click)="useLanguage(language)"
    >
      <span class="language-option">
        <img class="language-flag" [src]="flagFor(language)" alt="" aria-hidden="true" />
        <span>{{ labelFor(language) }}</span>
      </span>
    </mat-button-toggle>
  }
</mat-button-toggle-group>
