@if (showDashboardShell()) {
  <app-dashboard-shell
    [activeOrganizationName]="activeOrganizationName()"
    [pageTitleKey]="pageTitleKey()"
    [profileUserName]="profileUserName()"
    [profileRoleLabelKey]="profileRoleLabelKey()"
    [canManageAccess]="canManageAccess()"
    [canManageUsers]="canManageUsers()"
    [canMonitorAssets]="canMonitorAssets()"
    [assetIssuesCount]="assetIssueCount()"
    [pendingAlertsCount]="pendingAlertsCount()"
    (signedOut)="logout()"
    (monthlyReportRequested)="downloadCurrentMonthReport()"
  >
    <router-outlet />
  </app-dashboard-shell>
} @else {
  @if (showLanguageSwitcher()) {
    <div class="language-switcher-bar">
      <app-language-switcher />
    </div>
  }
  <router-outlet />
}
